
<ion-header class="ion-no-border">
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <div class="admin letraChica">VISUAL APP</div>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="confimarImagen" *ngIf="confirmarImagen">

    <div class="contenedorImagen">
      <img [src]="imgSelec.src" alt="" class="fotoSeleccionada">
    </div>

    <div class="contenedorBotones">
      <ion-button class="salaChat d-flex-center botonSeleccion"  (click)="confirmarImagen=false">
        Cancelar
      </ion-button>
      <ion-button class="salaChat d-flex-center botonSeleccion" (click)="votarImagen()">
        Votar esta foto
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </div>

  </div>

  <ion-button class="salaChat d-flex-center cuartob botonCosas" (click)="sacarFoto()">
    Tomar nueva foto fea
    <ion-icon slot="icon-only" name="camera"></ion-icon>
  </ion-button>


  <ion-button class="salaChat d-flex-center cuartob botonCosas" routerLink="mias">
    Mis fotos lindas
    <ion-icon slot="icon-only" name="save"></ion-icon>
  </ion-button>


  <div class="contenedorImagenes">

    <div *ngFor="let foto of fotos" class="imagen">
      <p>Autor: {{foto.nombre_usurio}}</p>
      <img  [src]="foto.src" (click)="seleccionarImagen(foto)">
      <p> {{foto.votos.length}} <ion-icon slot="icon-only" [name]="foto.votos.includes(user.uid)?'heart-circle':'heart'"></ion-icon></p>
    </div>

  </div>

  <div echarts [options]="opciones" class="chart" [merge]="opcionesCambio"></div>
</ion-content>